<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Case Claim Bot</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="static/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="buttons">
            <ul>
                <li>Leaderboard</li>
                <li>Lead Stats</li>
                <img src="" alt="">
                <li>Case Info</li>
                <!-- Case num -->
                <li>Case Dist</li>
                <!-- Month, day -->
                <li>Report</li>
                <!-- User, month, status -->
            </ul>
        </div>
    
    </body>
</html>
